* {
  box-sizing: border-box; /* Padding and border of all elements included in the width and height */
}

/* GRID LAYOUT */
.site {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'main'
}

.main {
  display: grid;
  margin: 0;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    'title title'
    'article aside'
}

.site-header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.article-title {
  grid-area: title;
}

.article {
  grid-area: article;
}

/* FLEX STYLES */
.flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
}

/* TYPEFACES */

/* Libre Franklin */
.nav-bar, .icon-bar {
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: .5px;
  word-spacing: 1px;
}

/* Georgia */
.logo-tagline, p {
  font-family: Georgia, serif;
}

/* Vidaloka */
.article-title {
  font-family: 'Vidaloka', sans-serif;
}

/* HEADER STYLES */

/* Links */
a {
  text-decoration: none;
}

/* Site header */
.site-header {
  width: 100%; /* Header takes up full width of window */
}

/* Sticky header */
.fixed {
  position: fixed;
  margin-top: -20px;
  padding-top: 20px;
  left: 0;
  top: 0;
  right: 0;
  transition: top 0.5s; /* Transition effect when sliding down (and up) */
  z-index: 2;
}

/* Nav bar */
.nav-bar {
  height: 60px;
  background: rgba(0,0,0,0.96);
  padding: 0 20px 0 16px;
}

/* Nav bar left buttons, right buttons and center logo & tagline */
.nav-left, .nav-right, .nav-center {
  flex: 1; /* Each section have equal width */
}

/* Nav bar right butons */
.nav-right-buttons {
  float: right; /* Right align */
}

/* Nav bar center logo & tagline */
.nav-center {
  text-align: center;
  padding-top: 10px;
}

/* Logo image */
.main-logo {
  display: block; /* Center image */
  margin: 0 auto; /* Center image */
  width: 180px;
}

/* Logo tagline */
.logo-tagline {
  color: #cccccc;
  font-size: 11px;
  font-weight: 400;
  padding-top: 2px;
  font-style: italic;
}

/* Nav bar buttons */
.button, .blue-button {
  display: inline-block;
  margin: 11px 3px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  height: 36px;
  vertical-align: middle; /* Vertically align buttons in the middle */
  cursor: pointer;
  transition: 200ms all linear;
}

/* Normal button */
.button {
  background-color: #1f1f1f;
  border: 1px solid #444;
  color: #f0f0f0;
}

/* Blue bkg button */
.blue-button {
  background-color: #1955a5;
  border: 1px solid #3d73d5;
  color: #fff;
}

/* Search button icon */
.search i {
  font-size: 16px;
  line-height: 16px;
  padding: 9px 10px;
}

/* Sections button, "try 1 month" button, sign in button */
.sections, .subscribe, .sign-in {
  padding: 7px 14px;
}

/* Sections button icon */
.sections i {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  top: 2px;
  padding-left: 5px;
}

/* Sign in button */
.sign-in {
  padding-right: 10px;
}

/* Sign in button icon */
.sign-in-icon {
  height: 100%;
  padding-bottom: 2px;
  padding-left: 6px;
  vertical-align: middle; /* Vertically align button text and icon in the middle */
}

.sections-mobile, .sign-in-mobile {
  display: none;
}

/* Nav bar button icon when button is hovered over */
.nav-bar .button:hover i {
  color: #fff;
}

/* Nav bar button when button is hovered over */
.nav-bar .button:hover {
  border-color: #f9f9f9;
  background-color: #000;
  color: #fff;
}

/* Nav bar blue bkg button when button is hovered over */
.nav-bar .blue-button:hover {
  background-color: #3d73d5;
}

/* STICKY ICON BAR STYLES */

/* Fixed icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  margin-top: 12px;
  top: 50%;
  border: 1px solid #d5d5d5;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Top part of icon bar */
.icon-bar-top {
  padding-bottom: 5px;
}

/* Bottom part of icon bar */
.icon-bar-bottom {
  background-color: #f0f0f0;
  border-top: 1px solid #d5d5d5;
  padding-top: 5px;
  padding-bottom: 6px;
  font-size: 11.5px; /* Styles the text below the comments icon */
  font-weight: 700; /* Styles the text below the comments icon */
}

/* Icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px 15px;
}

/* Icon bar links in bottom part of icon bar */
.icon-bar-bottom a {
  padding: 13px 15px;
  padding-left: 9px;
}

/* Icon bar icons */
.icon-bar i {
  font-size: 18px;
}

/* Icons have reduced opacity on hover */
.icon-bar a:hover {
  opacity: .8;
}

/* Color styles for each icon in icon bar */
.home {
  color: #5a5a5a;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #00aced;
}

.google {
  color: #dd4b39;
}

.envelope {
  color: #bd2a32;
}

.linkedin {
  color: #007bb6;
}

.pinterest {
  color: #cb2027;
}

.tumblr {
  color: #32506d;
}

.font, .print, .comments {
  color: #000;
}

/* Comments icon */
.comments i {
  padding-bottom: 3px;
}

/* PAGE TITLE STYLES */

/* Main section with article title and article */
.main {
  margin: 75px auto;
  max-width: 80%;
}

/* Article title section */
.article-title {
  padding-right: 20%;
  margin-bottom: 40px;
  border-bottom: 1px solid #d5d5d5;
}

/* Article title heading*/
.article-title h1 {
  font-size: calc(1.25rem + 2.5vw);
  line-height: 110%;
  margin-bottom: 10px;
  font-weight: 400;
}

/* ARTICLE STYLES */

/* Article section */
.article {
  padding-right: 45px;
  border-right: 1px solid #d5d5d5;
}

/* Article body text */
.article p {
  margin-bottom: 18px;
  margin-top: 4px;
  font-size: calc(1em + 0.175vw);
  line-height: calc(1.5em + 0.3333vw);
}

/* Article link text */
.article a {
  color: #2c6cb4;
  border-bottom: 1px solid #d5d5d5;
}

/* Charts 1 and 2 */
#chart1, #chart2 {
  width: 100%;
  height: 400px;
}

/* Chart 2 */
#chart2 {
  height: 300px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 992px) {

  /* MOBILE GRID LAYOUT */
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'title'
      'article'
  }

  /* Hide nav bar buttons */
  .search, .sections, .sign-in, .subscribe {
    display: none;
  }

  /* Show mobile nav bar buttons */
  .sign-in-mobile, .sections-mobile {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    padding: 18px 0;
  }

  /* Align right mobile sign in button  */
  .sign-in-mobile {
    float: right;
  }

  /* Mobile sign in button icon, mobile sections button icon */
  .sign-in-mobile-icon, .sections-mobile i {
    display: block;
    height: 100%;
    vertical-align: middle;
    color: #f0f0f0;
    font-size: 24px;
  }

  .main {
    max-width: 88%;
  }

  .article-title {
    padding: 0;
    margin-bottom: 10px;
    border: none;
  }

  .article {
    padding: 0;
    border: none;
  }

  .icon-bar {
    display: none;
  }
}
